<section
  id="comp-kxtprzzc"
  class="comp-kxtprzzc xuzjBY comp-kxtprzzc-container undefined"
  data-testid="section-container"
  tabindex="-1">
  <div
    id="comp-kxtps00e"
    class="comp-kxtps00e Z5xE6X comp-kxtps00e-container">
    <div class="OSxohk"></div>
    <div
      id="comp-kxtps00l4"
      class="BaOVQ8 tz5f0K comp-kxtps00l4"
      data-testid="richTextElement">
      <p class="font_7"><?php echo get_field('section7title'); ?></p>
    </div>
    <div
      id="comp-kxtps00s"
      class="BaOVQ8 tz5f0K comp-kxtps00s"
      data-testid="richTextElement">
      <h1 class="font_0">
        <span
          ><span><?php echo get_field('section7subtitle'); ?></span></span
        >
      </h1>
    </div>
    <div
      class="comp-kxtps00t4 gydiew"
      id="comp-kxtps00t4"
      aria-disabled="false">
      <a
        data-testid="linkElement"
        data-anchor="anchors-l072kubw"
        href="<?php echo get_field('section7buttonurl'); ?>"
        target="_self"
        class="TFOeq0"
        aria-disabled="false"
        ><span class="kclxHl"><?php echo get_field('section7button'); ?></span></a
      >
    </div>
  </div>
  <div
    id="comp-kxtps00y2"
    data-testid="imageX"
    class="z4Uj6S comp-kxtps00y2">
    <style data-testid="scrollEffectStyle">
      #comp-kxtps00y2 img {
        height: 100%;
      }</style
    ><wix-image id="img-comp-kxtps00y2"
      ><picture
        ><img
          src="<?php echo get_field('section7image'); ?>"
          alt=""
          style="object-fit: cover; object-position: 50% 50%" /></picture
    ></wix-image>
  </div>
  <div
    id="comp-kxtps0125"
    data-testid="imageX"
    class="z4Uj6S comp-kxtps0125">
    <style data-testid="scrollEffectStyle">
      #comp-kxtps0125 img {
        height: 100%;
      }</style
    ><wix-image id="img-comp-kxtps0125"
      ><picture
        ><img
          src="<?php echo get_field('section7img3'); ?>"
          alt=""
          style="object-fit: cover; object-position: 50% 50%" /></picture
    ></wix-image>
  </div>
  <div
    id="comp-kxtps0145"
    data-testid="imageX"
    class="z4Uj6S comp-kxtps0145">
    <style data-testid="scrollEffectStyle">
      #comp-kxtps0145 img {
        height: 100%;
      }</style
    ><wix-image id="img-comp-kxtps0145"
      ><picture
        ><img
          src="<?php echo get_field('section7img2'); ?>"
          alt=""
          style="object-fit: cover; object-position: 50% 50%" /></picture
    ></wix-image>
  </div>
  <div
    id="comp-kxtps01510"
    data-testid="imageX"
    class="z4Uj6S comp-kxtps01510">
    <style data-testid="scrollEffectStyle">
      #comp-kxtps01510 img {
        height: 100%;
      }</style
    ><wix-image id="img-comp-kxtps01510"
      ><picture
        ><img
          src="<?php echo get_field('section7img1'); ?>"
          alt=""
          style="object-fit: cover; object-position: 50% 50%" /></picture
    ></wix-image>
  </div>
  <div
    id="comp-kyp58ab5"
    class="BaOVQ8 tz5f0K comp-kyp58ab5"
    data-testid="richTextElement">
    <h2 class="font_2">
      <span>LET&#39;S <span style="color: #94e522">TRAIN</span>.</span>
    </h2>
  </div>
</section>
