<section
  id="comp-knkof7qy"
  class="comp-knkof7qy xuzjBY comp-knkof7qy-container undefined"
  data-testid="section-container"
  tabindex="-1">
  <div
    id="comp-knkof800"
    class="comp-knkof800 Z5xE6X comp-knkof800-container">
    <div class="OSxohk"></div>
    <div
      id="comp-knkof81x"
      class="BaOVQ8 tz5f0K comp-knkof81x"
      data-testid="richTextElement">
      <h4 class="font_4">
        <span
          ><span
            ><span
              ><span
                ><span
                  ><span
                    ><span
                      ><span
                        ><span
                          ><span
                            ><span
                              ><span
                                ><span
                                  ><span
                                    ><span
                                      ><span
                                        ><span><span>ISI® SANDY SPRINGS</span></span></span
                                      ></span
                                    ></span
                                  ></span
                                ></span
                              ></span
                            ></span
                          ></span
                        ></span
                      ></span
                    ></span
                  ></span
                ></span
              ></span
            ></span
          ></span
        >
      </h4>
    </div>
    <div
      id="comp-knkof82y"
      class="BaOVQ8 tz5f0K comp-knkof82y"
      data-testid="richTextElement">
      <h1 class="font_0"><span>GEORGIA</span></h1>
      <div class="my-account-ind"></div>
    </div>
    <div
      class="comp-knkof83j gydiew"
      id="comp-knkof83j"
      aria-disabled="false">
      <a
        data-testid="linkElement"
        data-anchor="anchors-l072kubw"
        href="concord.html"
        target="_self"
        class="TFOeq0"
        aria-disabled="false"
        ><span class="kclxHl">SIGN UP NOW</span></a
      >
    </div>
    <div
      id="comp-kmm4qwlb"
      class="BaOVQ8 tz5f0K comp-kmm4qwlb"
      data-testid="richTextElement">
      <p class="font_8">
        <span
          ><span><span>6305 Roswell Road, Sandy Springs, GA 30328</span></span></span
        >
      </p>
    </div>
    <div
      id="comp-kmm4wb86"
      class="BaOVQ8 tz5f0K comp-kmm4wb86"
      data-testid="richTextElement">
      <p class="font_8">
        <span
          ><span><span>(404) 706-7035</span></span></span
        >
      </p>
    </div>

    <div
      id="comp-kn678m56"
      class="BaOVQ8 tz5f0K comp-kn678m56"
      data-testid="richTextElement">
      <p class="font_8">
        <span
          ><span
            ><span>
              <a
                data-auto-recognition="true"
                href="mailto:sandysprings.ga@isielitetraining.com">
                sandysprings.ga@isielitetraining.com</a
              ></span
            ></span
          ></span
        >
      </p>
    </div>

    <div
      class="comp-knkjqn2b gydiew"
      id="comp-knkjqn2b"
      role="button"
      tabindex="0"
      aria-disabled="false">
      <div
        data-testid="linkElement"
        class="TFOeq0"
        aria-disabled="false"
        href=""
        target="_blank"
        rel="noopener">
        <a
          data-testid="linkElement"
          href=""
          target="_blank"
          rel="noopener">
          <span class="kclxHl"> </span>
        </a>
      </div>
    </div>
  </div>

  <!-- Image Section : Converting to a youtube video -->

  <div
    id="comp-l072dqr0"
    data-testid="imageX"
    class="z4Uj6S comp-l072dqr0">
    <style data-testid="scrollEffectStyle">
      #comp-l072dqr0 img {
        height: 100%;
      }
    </style>
    <wix-image id="img-comp-l072dqr0">
      <picture>
        <img
          src="<?php echo get_field('locationspageimage'); ?>"
          alt=""
          style="object-fit: cover; object-position: 41% 50%" />
      </picture>
    </wix-image>
  </div>
</section>

<!-- End : Image Section -->

<!-- Iteration #1 -->
<div
  id="comp-l072dqr0"
  data-testid="videoX"
  class="z4Uj6S comp-l072dqr0">
  <style data-testid="scrollEffectStyle">
    #comp-l072dqr0 iframe {
      width: 100%;
      height: 100%;
    }
  </style>
  <iframe
    id="video-comp-l072dqr0"
    src="https://www.youtube.com/embed/VIDEO_ID"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    style="object-fit: cover; width: 100%; height: 100%">
  </iframe>
</div>

<!-- Iteration #2 -->
<?php // Assume your ACF field for the YouTube video ID is named 'youtube_video_id' $video_id =
get_field('youtube_video_id'); // Check if the video ID exists if ($video_id): ?>
<div
  id="comp-l072dqr0"
  data-testid="videoX"
  class="z4Uj6S comp-l072dqr0">
  <style data-testid="scrollEffectStyle">
    #comp-l072dqr0 iframe {
      width: 100%;
      height: 100%;
    }
  </style>
  <iframe
    id="video-comp-l072dqr0"
    src="https://www.youtube.com/embed/<?php echo esc_attr($video_id); ?>"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    style="object-fit: cover; width: 100%; height: 100%">
  </iframe>
</div>
<?php endif; ?>
