.social-container {
  background-color: transparent;
  width: 100%;
  min-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.si-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px;
}

.icon-container {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

#comp-kzel8jcy img {
  height: 100%;
}
