<!--

<section
  id="comp-kzel8jcm"
  class="xuzjBY comp-kzel8jcm-container comp-kzel8jcm wixui-section undefined"
  data-testid="section-container"
  tabindex="-1">
  <div
    id="comp-kzel8jcy"
    data-testid="imageX"
    class="z4Uj6S comp-kzel8jcy wixui-image">
    <style data-testid="scrollEffectStyle">
      #comp-kzel8jcy img {
        height: 100%;
      }</style
    ><wix-image
      id="img-comp-kzel8jcy"
      data-image-info='{"containerId":"comp-kzel8jcy","alignType":"center","parallaxSpeed":1.5,"sourceSets":[],"imageData":{"uri":"d56505_ed74f654940443c798c80065bb17ce06~mv2.jpg","width":3000,"height":1332,"alt":"","name":"2.jpg","focalPoint":null}}'
      data-has-ssr-src="true"
      ><picture
        ><img
          src="<?php echo get_stylesheet_directory_uri(); ?>/static.wixstatic.com/media/d56505_ed74f654940443c798c80065bb17ce06_mv2.jpg/v1/fill/w_147%2ch_65%2cal_c%2cq_80%2cusm_0.66_1.00_0.01%2cblur_2%2cenc_auto/2.jpg"
          alt=""
          style="object-fit: cover; object-position: 50% 50%" /></picture
    ></wix-image>
  </div>
  <div
    id="comp-kzhbpyc2"
    class="Z5xE6X comp-kzhbpyc2-container comp-kzhbpyc2 wixui-box">
    <div class="OSxohk"></div>
    <div
      id="comp-kzhbpycy"
      class="BaOVQ8 tz5f0K comp-kzhbpycy wixui-text"
      data-testid="richTextElement">
      <h2 class="font_2"><span>FOLLOW OUR&nbsp;COMMUNITY</span></h2>
    </div>
    <div
      id="comp-kzhbpyd8"
      class="Z5xE6X comp-kzhbpyd8-container comp-kzhbpyd8 wixui-box">
      <div class="OSxohk"></div>
      <div
        class="comp-kzhbpydl gydiew"
        id="comp-kzhbpydl"
        aria-disabled="false">
        <a
          data-testid="linkElement"
          href="<?php echo get_field('instagram_url'); ?>"
          target="_blank"
          rel="noopener"
          class="TFOeq0 zKbzSQ"
          aria-disabled="false"
          ><span class="kclxHl">Instagram</span></a
        >
      </div>
      <div
        class="comp-kzhbpydq gydiew"
        id="comp-kzhbpydq"
        aria-disabled="false">
        <a
          data-testid="linkElement"
          href="<?php echo get_field('facebook_url'); ?>"
          target="_blank"
          rel="noopener"
          class="TFOeq0 zKbzSQ"
          aria-disabled="false"
          ><span class="kclxHl">Facebook</span></a
        >
      </div>
    </div>
  </div>
</section>

-->

<!-- OFFER Page -->

<section
  id="comp-kzelacic"
  class="social-container xuzjBY comp-kzelacic-container comp-kzelacic wixui-section undefined"
  data-testid="section-container"
  tabindex="-1">
  <div
    id="comp-kzelacij"
    data-testid="imageX"
    class="z4Uj6S comp-kzelacij wixui-image">
    <style data-testid="scrollEffectStyle">
      #comp-kzelacij img {
        height: 100%;
      }</style
    ><wix-image
      id="img-comp-kzelacij"
      data-image-info='{"containerId":"comp-kzelacij","alignType":"center","parallaxSpeed":1.5,"sourceSets":[],"imageData":{"uri":"d56505_21558e74d2284a709c61d0aa71ec05ec~mv2.png","width":1920,"height":825,"alt":"","name":"v3.png","focalPoint":null}}'
      data-has-ssr-src="true"
      ><picture
        ><img
          src="<?php echo get_stylesheet_directory_uri(); ?>/static.wixstatic.com/media/d56505_21558e74d2284a709c61d0aa71ec05ec_mv2.png/v1/fill/w_49%2ch_21%2cal_c%2cq_85%2cusm_0.66_1.00_0.01%2cblur_2%2cenc_auto/v3.png"
          alt=""
          style="object-fit: cover; object-position: 50% 50%" /></picture
    ></wix-image>
  </div>

  <div
    id="comp-kzfsuacr"
    class="Z5xE6X comp-kzfsuacr-container comp-kzfsuacr wixui-box">
    <div class="OSxohk"></div>
    <div
      id="comp-kzelaciu"
      class="BaOVQ8 tz5f0K comp-kzelaciu wixui-text"
      data-testid="richTextElement">
      <h2 class="font_2"><span>FOLLOW OUR&nbsp;COMMUNITY</span></h2>
    </div>
    <div
      id="comp-kzfstwvt"
      class="Z5xE6X comp-kzfstwvt-container comp-kzfstwvt wixui-box">
      <div class="OSxohk"></div>
      <div
        class="comp-kzfvg5te gydiew"
        id="comp-kzfvg5te"
        aria-disabled="false">
        <a
          data-testid="linkElement"
          href="<?php echo get_field('instagram_url'); ?>"
          target="_blank"
          rel="noopener"
          class="TFOeq0 zKbzSQ"
          aria-disabled="false"
          ><span class="kclxHl">Instagram</span></a
        >
      </div>
      <div
        class="comp-kzfvja5u gydiew"
        id="comp-kzfvja5u"
        aria-disabled="false">
        <a
          data-testid="linkElement"
          href="<?php echo get_field('facebook_url'); ?>"
          target="_blank"
          rel="noopener"
          class="TFOeq0 zKbzSQ"
          aria-disabled="false"
          ><span class="kclxHl">Facebook</span></a
        >
      </div>
    </div>
  </div>
</section>
